body{
    font-family: 'Poppins', sans-serif;
}
.main-section{
    margin: 0;
    padding:0;
}
h1{
    font-size: 50px;
}
.color-change{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 50PX;
}
.half-width{
    width:50%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-color:#FF6D4F;
    padding: 10px 46px;
    border-radius:7px;
    color:#ffffff;
    font-weight: 800;
}
.top-section{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shadow-1{
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-right: 66px;
    margin-left: 43px;
    padding: 28px;
    border-left:7px solid #FD9774;
}
.box-shadow-2{
    margin-right: 39px;
    padding: 28px;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-image: linear-Gradient (tomato, salmon);
    border-left:7px solid;
}
    

    
footer p{
    text-align: center;
    margin-top: 200px;
}
.margin-right{
    margin-right:39px;
}